<%= @deck.title %>

<p>Are you ready to play?</p>
<% if logged_in? %>
  <%= form_for [@deck, @round] do |form| %>
    <%= form.submit "let's play!", class: "form-submit" %>
  <% end %>
<% else %>
  <%= link_to "Login", new_session_path %>
<% end %>
